.ManagerService {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  &__header {
    display: flex;
    padding: 0 20px;
    // justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    &-searchBar {
      width: 100%;
      position: relative;
      max-width: 400px;

      display: flex;
      align-items: center;
      margin-bottom: 20px;
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 50px;
        margin-right: 10px;
        font-size: 16px;
        width: 100%;
        padding: 10px 10px 10px 40px;
      }
      i {
        position: absolute;
        margin-left: 15px;
        color: #aaa;
      }
      .searchBar-icon {
        position: absolute;
        left: 10px;
        align-items: center;
        transform: translateY(-50%);
        font-size: 20px;
        color: #888;
        margin-top: 20px;
      }
    }
    &-filter {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;
      select,
      button {
        white-space: nowrap;
        padding: 8px 15px;
        border: 1px solid #ccc;
        border-radius: 50px;
        font-size: 14px;
        font-weight: 600;
        background-color: var(--WhiteColor);
        margin-left: 10px;
      }
      button {
        background-color: var(--PrimaryColor);
        color: var(--WhiteColor);
        border: none;
        &:hover {
          background: var(--greyBg);
          color: var(--text-color);
          border: 1px solid var(--PrimaryColor);
        }
      }
    }
  }
  .service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      background-color: #fff;
      border-radius: 15px;
      padding: 20px;
      margin-bottom: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      position: relative;
      width: 100%;
      img {
        border-radius: 15px;
        width: 150px;
        height: 150px;
      }
      &-info {
        flex: 1;
        margin-left: 20px;
        h3 {
          margin: 0;
          font-size: 20px;
          color: #002855;
        }
        p {
          margin: 10px 0;
          color: #666;
        }
        // .service__outcome {
        //   display: flex;
        //   align-items: center;
        //   justify-content: space-between;
        //   div {
        //     text-align: center;
        //     p {
        //       margin: 5px 0;
        //     }
        //   }
        //   &-rating {
        //     color: #f39c12;
        //   }
        //   &-order {
        //     color: #002855;
        //   }
        //   &-interest {
        //     color: #27ae60;
        //   }
        // }
        .service-actions {
          display: flex;
          justify-content: space-evenly;
          margin-top: 10px;
          button {
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            :hover {
              color: var(--greyText);
            }
          }
          .delete {
            background-color: #f44336;
            color: #fff;
          }
          .update {
            background-color: var(--PrimaryColor);
            color: #fff;
          }
        }
      }
    }
  }
  &__pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
    p {
      margin: 0 10px;
      color: #888;
    }
    &-pages {
      display: flex;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;

        .pagination-icon {
          font-size: 30px;
          background: var(--PrimaryColor);
          border-radius: 50%;
          padding: 8px;
          color: var(--WhiteColor);

          &:hover {
            background: var(--blackColor);
          }
        }
      }
      .active {
        background-color: var(--PrimaryColor);
        color: var(--WhiteColor);
        border: none;
      }
    }
  }
}

@media (min-width: 640px) {
  .ManagerService {
    &__header {
      padding: 0 40px;
    }
    .service {
      &__card {
        img {
          width: 220px;
          height: 150px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .ManagerService {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    &__header {
      display: flex;
      padding: 0 20px;
      // justify-content: center;
      justify-content: space-between;
      flex-direction: row;
      &-searchBar {
        width: 100%;
        position: relative;
        max-width: 400px;

        display: flex;
        align-items: center;
        margin-bottom: 20px;
        input {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 50px;
          margin-right: 10px;
          font-size: 16px;
          width: 100%;
          padding: 10px 10px 10px 40px;
        }
        i {
          position: absolute;
          margin-left: 15px;
          color: #aaa;
        }
        .searchBar-icon {
          position: absolute;
          left: 10px;
          align-items: center;
          transform: translateY(-50%);
          font-size: 20px;
          color: #888;
          margin-top: 20px;
        }
      }
      &-filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
        select,
        button {
          white-space: nowrap;
          padding: 8px 15px;
          border: 1px solid #ccc;
          border-radius: 50px;
          font-size: 14px;
          font-weight: 600;
          background-color: var(--WhiteColor);
          margin-left: 10px;
        }
        button {
          background-color: var(--PrimaryColor);
          color: var(--WhiteColor);
          border: none;
          &:hover {
            background: var(--greyBg);
            color: var(--text-color);
            border: 1px solid var(--PrimaryColor);
          }
        }
      }
    }
    .service {
      &__card {
        img {
          width: 280px;
          height: 200px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .ManagerService {
    &__header {
      padding: 0 5%;
    }
    .service {
      justify-content: flex-start;
      gap: 80px;
      &__card {
        width: 45%;
        img {
          width: 180px;
          height: 120px;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .ManagerService {
    &__header {
      padding: 0 4%;
    }
    .service {
      &__card {
        width: 45%;
        img {
          width: 250px;
          height: 150px;
        }
      }
    }
  }
}

@media (min-width: 1536px) {
}
