.myBooking__salon {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .chooseSalon-icon {
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
      color: var(--PrimaryColor);
    }
    h1 {
      font-size: 24px;
      color: var(--PrimaryColor);
      margin: 0;
    }
  }
  &-search {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    input {
      border: none;
      background: none;
      outline: none;
      flex: 1;
      padding: 0 10px;
    }
    .myBooking__salon-closeIcon {
      color: var(--PrimaryColor);
      cursor: pointer;
      &:hover {
        color: var(--greyText);
      }
    }
  }
  &-locations {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 350px;
    overflow-y: overlay;
    background-color: #f5f5f5;

    .myBooking__salon-single {
      width: 98%;
      border: 2px solid var(--PrimaryColor);
      gap: 2rem;
      color: var(--blackColor);
      border-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
    }
    .selected {
      background-color: var(--PrimaryColor);
      font-weight: 500;
      color: var(--WhiteColor);
      font-weight: 600;
    }
  }
  &-btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0.6rem;
    color: var(--WhiteColor);
    font-weight: 600;
    gap: 0.5rem;
    .myBooking__salon-icon {
      color: var(--WhiteColor);
    }
  }
}

.myBooking__service {
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .myBooking__service-icon {
      font-size: 24px;
      margin-right: 10px;
      cursor: pointer;
      color: var(--PrimaryColor);
    }
    h1 {
      font-size: 24px;
      color: var(--PrimaryColor);
      margin: 0;
    }
  }
  &-search {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    input {
      border: none;
      background: none;
      outline: none;
      flex: 1;
      padding: 0 10px;
    }
    .myBooking__service-closeIcon {
      color: var(--PrimaryColor);
      cursor: pointer;
      &:hover {
        color: var(--greyText);
      }
    }
  }
  &-locations {
    font-size: 16px;
    margin-bottom: 10px;
  }
  &-lists {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 450px;
    overflow-y: overlay;

    .myBooking__service__card {
      border: 1px solid var(--PrimaryColor);
      width: 98%;
      border-radius: 5px;
      padding: 10px 15px;
      cursor: pointer;
      img {
        object-fit: cover;
        width: 370px;
        height: 250px;
        border-radius: 8px;
      }
      .card__content {
        padding: 15px;
        h2 {
          font-size: 18px;
          color: var(--PrimaryColor);
          margin: 0;
          padding-bottom: 10px;
        }
        p {
          font-size: 14px;
          color: #666;
          margin: 5px 0;
        }
        &-time {
          display: flex;
          align-items: center;
          font-size: 14px;
          color: #666;
        }
        &-action {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card__content-price {
            display: flex;
            align-items: center;
            color: var(--PrimaryColor);
            font-size: 16px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
            margin: 10px 0;
          }
          .card__content-add {
            background-color: var(--PrimaryColor);
            color: white;
            text-align: center;
            padding: 10px;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            display: block;
            margin-top: 10px;
            &:hover {
              background-color: var(--greyColor);
              color: var(--PrimaryColor);
              border: 1px solid var(--PrimaryColor);
            }
          }
          .disabled {
            background-color: var(--greyText);
            cursor: not-allowed;
            &:hover {
              border: none;
              background-color: var(--greyText);
              color: var(--WhiteColor);
            }
          }
        }

        .card-icon {
          margin-right: 5px;
          color: var(--greyText);
          font-size: 15px;
        }
      }
    }
  }
  &-footer {
    .footer__hidden {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      color: var(--greyText);
      margin-bottom: 10px;
    }

    .footer__service {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid var(--greyText);
      &-name {
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        color: var(--blackColor);
      }
      div {
        align-items: center;
        justify-content: space-between;
        display: flex;
        max-width: 280px;
        padding-left: 1rem;
        right: 0;
        .footer__service-price {
          font-size: 16px;
          color: var(--blackColor);
        }
        .footer__service-icon {
          color: var(--PrimaryColor);
          cursor: pointer;
          &:hover {
            color: var(--greyText);
          }
        }
      }
    }
    .hidden {
      display: none;
    }

    .footer__promo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid var(--greyText);
      &-label {
        font-size: 14px;
        color: var(--blackColor);
      }
      &-action {
        font-size: 14px;
        color: var(--PrimaryColor);
        cursor: pointer;
      }
    }

    .footer__pay {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      &-services {
        font-size: 14px;
        color: var(--PrimaryColor);
      }
      &-price {
        font-size: 18px;
        color: #333;
      }
      &-button {
        background-color: #003366;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  &-btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 0.6rem;
    color: var(--WhiteColor);
    font-weight: 600;
    gap: 0.5rem;
    .myBooking__service-icon {
      color: var(--WhiteColor);
    }
  }
  .btn-disable {
    background-color: var(--greyText);
    cursor: not-allowed;
    &:hover {
      border: none;
      background-color: var(--greyText);
      color: var(--WhiteColor);
    }
  }
}
