
.staff-payment {
    &__container{
        display: flex;
        background-color: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }

    &__left,
    &__right {
        flex: 1;
        margin: 10px;
    }

    &__left{
        border-right: 1px solid #e0e0e0;
        padding-right: 20px;

        & h2{
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
            font-weight: 600;
        }
    }

    &__form-section {
        border-top: 1px solid #e2e8f0;
        padding-top: 16px;
      }
    
      &__form-grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(1, 1fr);
    
        &--half-width {
          grid-template-columns: repeat(2, 1fr);
        }
    
        &--full-width {
          grid-template-columns: 1fr;
        }
      }
    
      &__form-group {
        display: flex;
        flex-direction: column;
    
        &--full-width {
          grid-column: span 2;
        }
      }
    
      &__label {
        color: #4a5568;
        margin-bottom: 4px;
      }
    
      &__input,
      &__select {
        padding: 8px;
        border: 1px solid #cbd5e0;
        border-radius: 4px;
        width: 100%;
    
        &::placeholder {
          color: #a0aec0;
        }
    
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px white inset !important;
          -webkit-text-fill-color: #000 !important;
        }
      }
    
      &__button-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      &__button {
        background-color: #1b5078;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        width: 100%;
        max-width: 120px;
        height: 48px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    
        &:hover {
          background-color: #16435f;
        }
      }
    
      &__services-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
      }
  
      &__slots-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
  
      &__slots-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;
        padding: 8px;
    
        & span {
          display: inline-block;
          align-items: center;
          line-height: 16px;
          color: #4a5568;
          margin-left: 10px;
        }
      }
    
      &__option {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;
        padding: 8px;
    
        &:hover {
          background-color: #f0f4f8;
        }
    
        & span {
          display: inline-block;
          align-items: center;
          line-height: 16px;
          color: #4a5568;
          margin-left: 10px;
        }
      }
  
      &__checkbox {
        margin-right: 8px;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #1b5077;
        border-radius: 4px;
        cursor: pointer;
    
        &:checked {
          background-color: #1b5077;
          border: 2px solid #1b5077;
        }
    
        &:hover {
          border-color: #16435f;
        }
      }
  
      &__slots-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.2s;
        padding: 8px;

    
        & span {
          display: inline-block;
          align-items: center;
          line-height: 16px;
          color: #4a5568;
          margin-left: 10px;
        }
      }
    
      &__radio  {
        margin-right: 8px;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 2px solid #1b5077;
        border-radius: 4px;
        border-radius: 50%;
        cursor: pointer;
    
        &:hover {
         border: 2px solid #a0a0a0;
        }
  
        &:checked {
          background-color: #1b5077;
          border: 2px solid #1b5077;
        }
      }
  

    &__booking-summary {
        padding: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        background-color: #fafafa;

        &--totals {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-weight: 500;

            & div {
                margin-bottom: 10px;
                font-size: 16px;
                color: #333;
            }
            
        }

        & hr {
            border: none;
            border-top: 1px solid #e0e0e0;
            margin: 10px 0;
        }

    }

    &__booking-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        & img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            margin-right: 10px;
        }

        &--price {
            text-align: right;
            min-width: 100px;
        }

        &--details{
            flex: 1;
        }   
    }

    &__confirm-booking {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        & button {
            background-color: #1B5077;
            color: #fff;
            padding: 12px 25px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;
            transition: background 0.3s;

            &:hover {
                background-color: #16435F;
            }
        }
    }

}

