:root {
  --PrimaryColor: #1b5077;
  --WhiteColor: hsl(0, 0%, 100%);
  --textColor: hsl(240, 1%, 48%);
  --HoverColor: hsl(0, 0%, 60%); /* Gray color for hover state */
  --blackColor: hsl(0, 0%, 18%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
}

.header-normalSection {
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Define height */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 1rem;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &-logo {
      a {
        color: var(--WhiteColor);
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        h1 {
          font-size: 40px;
        }
      }
    }

    &-active {
      background: var(--PrimaryColor); 
      box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
    }
  }

  .header-normal {
    &__lists {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      
      &-items {
        padding: 0 1rem;
        a {
          color: var(--WhiteColor);
          font-size: 0.9rem;
          font-weight: 400;
          transition: color 0.3s ease;
          &:hover {
            color: var(--HoverColor); /* Change to gray on hover */
          }
        }
      }

      .header-normal__btn {
        margin-left: 1rem;
        a {
          color: var(--WhiteColor);
          font-weight: 500;
        }
      }

      &-button-login {
        background: none;
        border: 1px solid var(--PrimaryColor);
        transition: background-color 0.3s ease;
        &:hover {
          background: var(--PrimaryColor);
          a {
            color: var(--WhiteColor);
          }
        }
      }
    }

    &__toggle {
      .icon {
        font-size: 25px;
        color: var(--WhiteColor);
        &:hover {
          color: var(--PrimaryColor);
        }
      }
    }

    &__close {
      .icon {
        font-size: 25px;
        color: var(--PrimaryColor);
        &:hover {
          color: var(--HoverColor);
        }
      }
    }

    &-active {
      left: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .header-normal {
      background: var(--greyBg);
      position: absolute;
      height: max-content;
      padding: 1rem;
      width: 100%;
      top: 0;
      left: -500%;
      box-shadow: 0 2px 4px rgba(209, 209, 209, 0.904);
      transition: left 0.5s ease;
      
      &__lists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;

        &-items {
          padding: 1rem 0;
          a {
            color: var(--textColor);
            font-size: 0.9rem;
            font-weight: 600;
            &:hover {
              color: var(--HoverColor); /* Change to gray on hover */
            }
          }
        }
      }

      &__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }
    }

    .header-normal-active {
      left: 0;
    }
  }

  @media screen and (min-width: 769px) {
    .header-normal__toggle,
    .header-normal__close {
      display: none;
    }

    .header-normalSection__header {
      padding: 1.5rem 2rem;
    }
  }

  @media screen and (min-width: 960px) {
    .header-normalSection__header .header-normal__lists-items {
      padding: 0 0.7rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .header-normalSection__header {
      padding: 1rem 8.5rem;
    }
  }
}

.main-content {
  margin-top: 80px; /* Same as header height */
}
