.notify{
    &__dropdown{
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 5px;
    min-width: 250px;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    &__body{
        border-top: 1px solid #ddd;
        max-height: 200px;
        overflow-y: auto;

        .ant-dropdown-menu{
            box-shadow: none;

            &-item{
                border-bottom: 1px solid #ddd;
            }
        }
    }

    &__item {
        display: flex;

        &-icon {
            width: 40px;
            height: 40px;
            background-color: #ffe5b5;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;

            & span{
                font-size: 24px;
                color: orange;
            }
                
            }
        }

    }