.manager-footer {
    background-color: #f0f2f5;
    text-align: center;
    padding: 20px 0;

    &__content {
        color: #595959;
        font-size: 14px;
    }

    &__text {
        margin: 0;
    }

}
