.chooseStylist {
  margin: 0;
  padding: 8rem 0 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;

  &__tagNavigation {
    display: none;
    ul {
      list-style: none;
    }
    &--item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      &-content {
        margin: 0 10px;
        position: relative;
        padding: 0.5rem;
        .tooltip {
          position: absolute;
          top: 100%;
          right: 110%;
          transform: translateY(200%);
          color: #fff;
          padding: 6px 10px;
          border-radius: 5px;
          opacity: 0;
          visibility: hidden;
          font-size: 14px;
          transition: all 0.3s ease;
        }
        &:hover .tooltip {
          opacity: 1;
          visibility: visible;
          top: -50px;
          background-color: var(--PrimaryColor);
        }
        a {
          position: relative;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          font-size: 22px;
          font-weight: 500;
          color: #4d4d4d;
          background-color: #fff;
          transition: all 0.3s ease-in-out;
          &:hover {
            box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
            color: white;
            background-color: var(--PrimaryColor);
          }
          .filled {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #000;
            transition: all 0.3s ease-in-out;
            background-color: var(--PrimaryColor);
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 88%; /* Đặt đường thẳng ngay dưới hình tròn */
          left: 50%; /* Căn giữa theo trục ngang */
          width: 4px; /* Độ dày của đường nối */
          height: 50px; /* Độ dài đường nối */
          background-color: var(--PrimaryColor); /* Màu của đường nối */
          transform: translateX(-50%);
        }
        &:last-child::after {
          display: none;
        }
      }
      .active {
        .tooltip {
          opacity: 1;
          visibility: visible;
          top: -50px;
          background-color: var(--PrimaryColor);
        }

        a {
          box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
          color: white;
          background-color: var(--PrimaryColor);

          .filled {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #000;
            transition: all 0.3s ease-in-out;
            background-color: var(--PrimaryColor);
          }
        }
      }
      .disable {
        cursor: not-allowed;
        .tooltip {
          display: none;
        }

        a {
          cursor: not-allowed;
          background-color: var(--greyText);
          &:hover {
            color: #4d4d4d;
          }
          .filled {
            display: none;
          }
        }
      }
    }
  }
  &__container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .chooseStylist-icon {
        font-size: 24px;
        margin-right: 10px;
        cursor: pointer;
        color: var(--PrimaryColor);
      }
      h1 {
        font-size: 24px;
        color: var(--PrimaryColor);
        margin: 0;
      }
    }
    &-name {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .stylist-icon {
        font-size: 24px;
        margin-right: 10px;
        color: var(--greyText);
      }
      h1 {
        font-size: 20px;
        margin: 0;
      }
    }
    &-info {
      border: 1px solid #dcdcdc;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #f0f8ff;
      display: flex;
      justify-content: space-between;
      p {
        margin: 5px 0;
        .infor__rating {
          margin-right: 10px;
          color: gold;
        }
      }
    }
    &-lists {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .chooseStylist__container-single {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        padding: 0 20px 0;
        transition: transform 0.3s ease;
        cursor: pointer;
        text-align: center;
        img {
          border-radius: 10px;
          transition: transform 0.3s;
          height: 200px;
          width: 150px;
        }
        p {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .selected {
        background-color: var(--WhiteColor);
        border-radius: 10px;
        border: 2px solid var(--PrimaryColor);
        p {
          font-weight: 500;
        }
      }
    }
    &-btn {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      justify-content: center;
      padding: 0.6rem;
      color: var(--WhiteColor);
      font-weight: 600;
      gap: 0.5rem;
      .chooseService-icon {
        color: var(--WhiteColor);
      }
    }
    .btn-disable {
      background-color: var(--greyText);
      cursor: not-allowed;
      &:hover {
        border: none;
        background-color: var(--greyText);
        color: var(--WhiteColor);
      }
    }
  }
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
  .chooseStylist {
    &__tagNavigation {
      display: block;
    }
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
