.StaffVNPayQR__container {
    margin: 50px auto;
    margin-top: 70px;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .StaffVNPayQR__title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .StaffVNPayQR__amount {
    font-size: 18px;
    margin: 20px 0;
  }
  
  .StaffVNPayQR__qr-code {
    margin: 20px 0;
  }
  